/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border: 4px outset #fcb00d;
    border-radius: 20px;
  }

  .md-content{
    border: 4px inset brown;
    border-radius: 17px;
    margin: -20px;
    padding: 10px 30px 10px 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 10px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  .newUserField{
    margin-bottom: 1rem;
  }

  .userSubmit, .newUserSubmit{
    background-color: brown;
    color: white;
  }

  .newWelcome{
    float: left;
    width: 80%;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .deleteModalQ{
    width: 80%;
  }

  .deleteTitle, .deleteCreator, .deleteCooktime, .deleteDescription {
    text-align: center;
  }

  .deleteRecipeBtn{
    margin: 0 44%;
    background-color: brown;
    color: white;
  }

  .deleteModal-body{
    padding-right: 0;
  }

  .deleteModalImg{
    height: 40%;
    width: 100%;
    margin: 0 auto;
  }

  .addTitle, .addCreator, .addCooktime, .addDescription {
    text-align: center;
  }

  .addRecipeBtn{
    margin: 0 35%;
    background-color: brown;
    color: white;
  }

  .addModal-body{
    padding-right: 0;
  }

  .addModalImg{
    height: 40%;
    width: 100%;
    margin: 0 auto;
  }

  .oops{
    color: red;
  }

  @media screen and (max-width: 767px) {
    .deleteRecipeBtn{
      margin: 0 38%;
    }
  }

  @media screen and (max-width: 570px) {
    .deleteRecipeBtn{
      margin: 0 35%;
    }
  }