.signInHome{
    width: 100%;
}

.newTitle, .alreadyTitle{
    text-align: center;
    margin-top: 1.3rem;
}

.announceBtn1{
    margin-left: 15%;
    width: 70%;
    border-radius: 20px;  
}

.announceBtn2{
    margin-left: 15%;
    width: 70%;
    border-radius: 20px;
}






@media screen and (max-width: 1200px) {
    .announceBtn1{
        margin-left: 20%;
    }
    .announceBtn2{
        margin-left: 32%;
    }
}

@media screen and (max-width: 991px) {
    .announceBtn1{
        margin-left: 8%;
    }
    .announceBtn2{
        margin-left: 25%;
    }
}

@media screen and (max-width: 767px) {
    .newTitle{
        margin-top: 2rem;
    }
    .announceBtn1{
        margin-left: 22%;
    }
    .announceBtn2{
        margin-left: 35%;
    }
    .signInHome{
        border-bottom: 3px solid black;
    }
}

@media screen and (max-width: 500px) {
    .announceBtn1{
        margin-left: 15%;
    }
}