.sorry{
    text-align: center;
    margin: 2rem;
}


.editBtn{
    margin-left: 88%;
    margin-top: 10px;
    margin-bottom: -40px;
}

.specRecipeName{
    text-align: center;
    margin-top: 1rem;
}

p{
    text-align: center;
}

.specCreator{
    font-style: italic;
    margin-top: 1rem;
}

.specCooktime{
    margin-top: 1rem;
}

.specDescription{
    border-bottom: 3px solid black;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.specIngredientList{
    margin-left: 2rem;
    margin-top: 1rem;
}

#infoFieldCol, #ingrFieldCol, #dirFieldCol, #ingrCol{
    padding-right: 2px;
    border-right: 2px solid black;
}


.specDirectionList{
    margin-top: 1rem;
    margin-left: 1rem;
}

.col-md-7{
    border-left: 2px solid black;
    margin-right: 2px;
}

ul li{
    margin-bottom: 7px;
}

ol li{
    margin-bottom: 1rem;
}

.noDirections{
    text-align: center;
    font-size: 4rem;
    margin-top: 10%;
}

/* Editing styles */

.formInst{
    text-decoration: none;
}

.editCreator{
    margin: -25px 0 2rem 1.5rem;
    
}






@media screen and (max-width: 991px) {
    .editBtn{
        margin-left: 83%;
        margin-bottom: -30px;
    }
}

@media screen and (max-width: 767px) {
    .ingredientList{
        margin: 1rem 5rem;
    }
    #infoFieldCol, #ingrFieldCol, #dirFieldCol, #ingrCol{
        border-right: none;
        border-bottom: 2px solid black;
    }
    .col-md-7{
        border-left: none;
        border-top: 2px solid black;
    }
    .noDirections{
        font-size: 2rem;
        margin-top: 8%;
        margin-bottom: 8%;
    }
    .editBtn{
        margin-left: 78%;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 510px) {
    .editBtn{
        margin-left: 74%;
    }
}