body{
    background-color: royalblue !important;
}

.row{
    width: 100%;
}

.mainContainer{
    margin-bottom: 20px;
    background-color: beige;
}

.rbIntro{
    line-height: 2rem;
    margin: 1rem 2rem 2rem 2rem;
}

a:hover{
    text-decoration: none;
}