body{
    background-color: royalblue !important;
}

.row{
    width: 100%;
}

.mainContainer{
    margin-bottom: 20px;
    background-color: beige;
}

.homeContainer{
    margin-bottom: 20px;
}

.rbIntro{
    line-height: 2rem;
    margin: 1rem 2rem 2rem 2rem;
}

a:hover{
    text-decoration: none;
}

#signInCard{
    background-color: beige;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 1rem;
}

#publicRecipesCard{
    background-color: beige;
    padding: 1rem;
    padding-top: -2rem;
}