.card{
    margin-bottom: 1rem;
    min-height: 220px;
}

.cardCol > :first-child{
    margin-bottom: 2rem;
    min-height: 230px;
    border: 2px outset orange;
    border-radius: 0;
}

.deleteRecipePrivate{
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 10px;
    margin-top: -0.6rem;
    cursor: pointer;
    margin-right: -1.3rem;
}

.cardImage{
    height: 150px;
    width: 100%;
    margin: 1rem 0;
    padding: 0;
}

.startPosting{
    text-align: center;
    margin: 2rem;
}

.name{
    margin-right: -1rem;
}

.toRecipePostFromPrivate{
    margin-top: 20%;
}

#recipeNameCol{
    padding-right: 0;
}

.col-md-1{
    padding-right: 0;
}

.noMatch{
    margin: 1.5rem auto;
}

@media screen and (max-width: 767px) {
    .deleteRecipePrivate{
        margin-right: -2.3rem;
    }
}

@media screen and (max-width: 575px) {
    .deleteRecipePrivate{
        margin-right: 0;
        margin-top: -3.4rem;
    }
}