.card{
    margin-bottom: 1rem;
    min-height: 220px;
}

.deleteRecipePrivate{
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 10px;
    margin-top: -0.6rem;
    cursor: pointer;
}

.startPosting{
    text-align: center;
    margin: 2rem;
}

.name{
    margin-right: -1rem;
}

.toRecipePostFromPrivate{
    margin-top: 20%;
}

#recipeNameCol{
    padding-right: 0;
}

.col-md-1{
    padding-right: 0;
}