
.cardContent{
    margin-bottom: -1.3rem;
}

.cardCol > :first-child{
    margin-bottom: 2rem;
    min-height: 90%;
    box-shadow: 1px 1px;
    border-radius: 0;
}

.cardCol > :first-child:hover{
    opacity: .9;
}

.deleteRecipePrivate{
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 10px;
    margin-top: -1.5rem !important;
    cursor: pointer;
    margin-right: -2.8rem !important;
}

.cardImage{
    height: 150px;
    width: 100%;
    margin: 1rem 0;
    padding: 0;
}

.startPosting{
    text-align: center;
    margin: 2rem;
}

.name{
    margin-right: -1rem;
}

.toRecipePostFromPrivate{
    margin-top: 20%;
}

#recipeNameCol{
    padding-right: 0;
}

.col-md-1{
    padding-right: 0;
}

.noMatch{
    margin: 1.5rem auto;
}

@media screen and (max-width: 767px) {
    .deleteRecipePrivate{
        margin-right: -2.3rem;
    }
}

@media screen and (max-width: 575px) {
    .deleteRecipePrivate{
        margin-right: 0;
        margin-top: -3.4rem;
    }
}