.card{
    width: 100%;
    background-color: tan;
    margin-bottom: 5px;
    padding: 10px;
}

.title{
   width: 50%;
   float: left;
   margin: 10px 0 30px 10px;
}

.top a{
    float: right;
    margin: 15px 10px 25px 0;
}


.creator{
    margin: 0;
    padding: 0;
}