.topArea{
    border: none;
}


.card{
    width: 100%;
    background-color: tan;
    margin-bottom: 5px;
    padding: 10px;
}

.title{
   width: 50%;
   float: left;
   margin: 40px 0 30px 10px;
   line-height: 2.5rem;
   font-size: 2.3rem;
}

.top a{
    float: right;
    margin: 20px 10px 25px 0;
}


.creator{
    margin: 0 0 0 20px;
    text-align: left;
    padding: 0;
}

.toRecipePost{
    margin-top: -2rem;
    float: right;
}

.toRecipePostUnlogged{
    
}



@media screen and (max-width: 767px) {
    .toRecipePost{
        margin: 0;
    }
}
