.topArea{
    border: none;
}


.card{
    width: 100%;
    background-color: tan;
    margin-bottom: 5px;
    padding: 10px;
}

.title{
   width: 50%;
   float: left;
   margin: 40px 0 30px 10px;
   line-height: 2.5rem;
   font-size: 2.3rem;
}

.top a{
    float: right;
    margin: 20px 10px 25px 0;
}

.card a{
    float: left;
}

.creator{
    margin: 0 0 0 20px;
    text-align: left;
    padding: 0;
}

.toRecipePost{
    margin-top: 1rem;
    margin-right: -3.5rem;
    float: right;
}

.deleteRecipeMaster{
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 10px;
    margin-top: -0.6rem;
    cursor: pointer;
}


.toRecipePostUnlogged{
    
}

@media screen and (max-width: 767px) {
    .title, .toRecipePost {
        margin-top: 0;
    }
}

@media screen and (max-width: 575px) {
    #recipeTop{
        width: 50%;
    }
    #toRecipePostCol{
        width: 50%;
    }
}
