.formInst{
   text-decoration: underline;
   margin: 2rem 0 2rem 1.5rem;
}

.siteToScrape{
    width: 65%;
    margin: 0 0 0 30%;
}

.siteToScrapeLabel{
    margin: 0 0 0 55%;
}

.siteToScrapeIntro{
    text-align: right;
    margin-top: 2rem;
    margin-right: 1.5rem;
}

.urlToScrapeLabel{
    margin: 0;
}

.submitURL{
    margin-top: 1.3rem;
    
}

.publicRadio{
    margin-right: 1.5rem;
}

.radio-inline{
    margin-top: 0.3rem;
}

.formToPrivate{
    margin-top: 1rem;
    float: right;
}

.tagBtn{
    background-color: blue;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.btn.btn-info.tagBtn:hover{
    text-decoration: none;
    cursor: default;
    background-color: blue;
}

.deleteTag{
    padding-left: 10px;
    margin-right: -10px;
    font-weight: bold;
}
.deleteTag:hover,
  .deleteTag:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 



@media screen and (max-width: 767px) {
#dropdownCol, #firstFields, #firstIngrCol, #firstDirCol{
    border-bottom: 2px solid black;
    padding-bottom: 8px;
}
#firstFields, #firstIngrCol, #firstDirCol{
    padding: 1.5rem;
}

.submitURL{
    margin: 8px 0;
    float: right;
}

.recipeSubmit{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.radio-inline{
    margin-top: 2rem;
}

}