.navbar{
    background-color: brown;
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
    color: white;
}

.toPrivateLink{
    color: white;
}

.toHome, .toPrivate, .toPrivateWithSearch{
    margin-top: 4px;
}

.toHome{
    color: #fcb10d !important;
}

.toPrivate, .toPrivateWithSearch{
    background-color: rgb(94, 88, 88);
}

.toPrivate:hover, .toPrivateWithSearch:hover{
    background-color: darkslategray;
}

.toPrivateLink:hover{
    color: white;
    text-decoration: none;

}

@media screen and (max-width: 575px) {
    .toPrivate, .toPrivateWithSearch{
        margin-left: 76%;
        margin-top: -90px;
        margin-bottom: -3%;
    }
    #toPrivateCol{
        height: 5px;
    }
    .welcome{
        margin-bottom: 1rem;
    }
    .toHome{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 550px) {
    .toPrivate, .toPrivateWithSearch{
        margin-left: 70%;
    }
}

@media screen and (max-width: 460px) {
    .toPrivateWithSearch{
        margin-left: 60%;
        margin-top: -185px;
    }
}

@media screen and (max-width: 380px) {
    .toPrivate{
        margin-left: 60%;
    }
}

@media screen and (min-width: 991px) {
    #searchCol > :first-child{
        margin-left: 30%;
    }
    .navContainer{
        padding-right: 0;
    }
}

@media screen and (min-width: 1200px) {
    #searchCol > :first-child{
        margin-left: 44%;
    }
}

